/* Global */

::-webkit-scrollbar {
    width: 5px;
}

::-webkit-scrollbar-thumb {
    background-color: #2E20CA;
}

body {
    font-family: "roboto-regular";
    padding: 0;
    margin: 0 auto;
}

.block {
    display: block !important;
}

h1, h2, p, a {
    margin-top: 0px;
    margin-bottom: 0px;
}

h1 {
    font-weight: 500;
    font-size: 3.5em;
}

h2 {
    font-weight: 500;
    font-size: 2em;
}

header, main {
    width: 100%;
    position: relative;
}

.pottypage {
    color: #2E20CA;
}

.pottypage p {
    font-size: 1.2em;
}

/* Headerbutton */

.pottypage main {
    position: relative;
}

.pottypage main > a:nth-child(1) {
    z-index: 1;
    display: flex;
    align-items: center;
    position: fixed;
    top: 1em;
    left: 1em;
    text-decoration: none;
    color: #2E20CA;
    transition: 1s;
}

.pottypage main > a:nth-child(1)::before {
    content: '👈';
    margin-right: .2em;
    font-size: 2em;
    transition: .3s;
}

.pottypage main > a:nth-child(1):hover::before {
    transform: translateX(-.3em);
}

.pottypage main header {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50vh;
    background-color: #FDF7FF;
}

.pottypage main header > section {
    margin: 0 auto;
    width: 80%;
}

.pottypage main header > section p {
    width: 90%;
}

.pottypage main > section,
.pottypage main > section > article {
    display: flex;
}

.pottypage main > section {
    flex-direction: column;
}

.pottypage main > section > article {
    position: relative;
    flex-direction: column;
}

.pottypage main > section > article p,
.pottypage main > section > article a {
    margin: 0 auto;
    margin-top: 2em;
    width: 80%;
}

.pottypage main > section > article a {
    margin-top: 1em;
}

.pottypage main > section > article > a::after {
    position: absolute;
    content: '👉';
    line-height: 1.5;
    margin-left: .2em;
    transition: .3s;
    text-decoration: none;
}

.pottypage main > section > article a:visited {
    color: #2E20CA;
}

.pottypage main > section > article > a:hover::after {
    transform: translateX(.3em);
}

.pottypage main > section > figure,
.pottypage main > section > article {
    margin: 0;
    flex: 50%;
}

.pottypage main > section > figure img {
    width: 100%;
    display: block;
    font-size: 1em;
    margin-top: 2em;
}

.pottypage main > section:last-of-type div {
    margin-top: 3em;
}

.pottypage main > section:last-of-type div img {
    width: 90%;
    display: block;
    margin: 0 auto;
}

.pottypage main > section:last-of-type div p {
    width: 80%;
    margin: 0 auto;
    margin-top: 1em;
}

@media (min-width: 40em) { 

    /* Global */

    h1 {
        font-size: 3em;
    }

    h2 {
        font-size: 2em;
    }
}

@media (min-width: 70em) { 

    /* Global */

    h1 {
        font-size: 4em;
    }
    
    h2 {
        font-size: 2.5em;
    }

    .pottypage main header > section {
        justify-content: center;
        align-items: center;
        text-align: center;
        margin: 0 auto;
        width: 100%;
    }

    .pottypage main header > section p {
        margin: 0 auto;
    }

    .pottypage main > section {
        margin-top: 5em;
        margin-bottom: 5em;
        flex-direction: row;
    }

    .pottypage main > section > figure img {
        margin-top: 0em;
    }

    .pottypage main > section:last-of-type div {
        width: 50%;
    }

    .pottypage main > section:last-of-type div img {
        width: 80%;
    }
}
