/* Fonts */

@font-face {
    font-family: "roboto-medium";
    src: url("./assets/fonts/Roboto/Roboto-Medium.ttf") format("ttf")
}
@font-face {
    font-family: "roboto-regular";
    src: url("./assets/fonts/Roboto/Roboto-Regular.ttf") format("ttf")
  }

/* Global */

::-webkit-scrollbar {
    width: 5px;
}

::-webkit-scrollbar-thumb {
    background-color: #2E20CA;
}

body {
    font-family: "roboto-regular";
    padding: 0;
    margin: 0 auto;
}

.block {
    display: block !important;
}

h1, h2, p, a {
    margin-top: 0px;
    margin-bottom: 0px;
}

h1 {
    font-family: "roboto-medium";
    font-weight: 500;
    font-size: 3.5em;
}

h2 {
    font-family: "roboto-medium";
    font-weight: 500;
    font-size: 2em;
}

header, main {
    width: 100%;
    position: relative;
}

.rmddpage {
    color: #2E20CA;
}

/* Headerbutton */

.rmddpage main {
    position: relative;
}

.rmddpage main > a:nth-child(1) {
    z-index: 1;
    display: flex;
    align-items: center;
    position: fixed;
    top: 1em;
    left: 1em;
    text-decoration: none;
    color: #2E20CA;
    transition: 1s;
}

.rmddpage main > a:nth-child(1)::before {
    content: '👈';
    margin-right: .2em;
    font-size: 2em;
    transition: .3s;
}

.rmddpage main > a:nth-child(1):hover::before {
    transform: translateX(-.3em);
}

.rmddpage main header {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50vh;
    background-color: #FDF7FF;
}

.rmddpage main header > section {
    margin: 0 auto;
    width: 80%;
}

.rmddpage main header > section p {
    width: 90%;
    font-size: 1rem;
}

.rmddpage main > section {
    display: flex;
}

.rmddpage main > section > figure,
.rmddpage main > section > article {
    margin: 0;
    flex: 50%;
}

.rmddpage main > section > article p:first-child {
    margin-top: 5em;
}

.rmddpage main > section > article p {
    margin: 0 auto;
    margin-top: 1em;
    width: 80%;
}

.rmddpage main > section > article blockquote {
    position: relative;
    margin: 0 auto;
    margin-top: 1em;
    width: 75%;
}

.rmddpage main > section > article blockquote::before,
.rmddpage main > section > article blockquote::after {
    position: absolute;
    content: '\0022	';
    font-size: 3em;
    color: #2E20CA;
}

.rmddpage main > section > article blockquote::before {
    top: -.2em;
    left: -.5em;
}

.rmddpage main > section > article blockquote::after {
    bottom: -.7em;
    margin-left: .1em;
}

.rmddpage main > section > figure img {
    width: 100%;
    display: block;
    font-size: 1rem;
    margin-top: 2em;
    box-shadow: #d8d8d8 1px 1px 1px 1px;
}

@media (min-width: 40em) { 

    /* Global */

    h1 {
        font-size: 3em;
    }

    h2 {
        font-size: 2em;
    }
}

@media (min-width: 70em) { 

    /* Global */

    h1 {
        font-size: 4em;
    }
    
    h2 {
        font-size: 2.5em;
    }

    .rmddpage main header > section {
        justify-content: center;
        align-items: center;
        text-align: center;
        margin: 0 auto;
        width: 100%;
    }

    .rmddpage main header > section h1,
    .rmddpage main header > section p {
        width: 40%;
        margin: 0 auto;
        text-align: left;
    }
}
