/* Global */
::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-thumb {
    background-color: #2E20CA;
}

body {
    font-family: "roboto-regular";
    padding: 0;
    margin: 0 auto;
}

h1, h2, p, a {
    margin-top: 0px;
    margin-bottom: 0px;
}

header, main {
    width: 100%;
}

footer {
    position: absolute;
    width: 100%;
    height: 10vh;
    bottom: 0;
    left: 0;
}

body footer ul {
    position: absolute;
    bottom: 0;
    left: 0;
    
    display: flex;
    gap: 1em;
  
    list-style-type: none;
    padding: 1em;
    padding-bottom: 0;
  }
  
  body footer ul li {
    width: 36px;
    height: 36px;
  }
  
  body footer ul li a img {
    width: 100%;
    height: 100%;
    background-color: #fff;
    border-radius: 100%;
  }

section .button button {
    padding: 1em 1.5em;
}

.button {
    width: auto;
    margin-left: 0.3em;
    margin-top: 1.3em;
    max-height: 50px;
}
  
button {
    background-color: transparent;
    border: 2px solid #2E20CA;
    border-radius: 0;
    cursor: pointer;
    box-sizing: border-box;
    padding: 0.5em 2em;
    position: relative;
    text-align: center;
    transition: all 0.3s ease-in-out;
}

button::before {
    content: " ";
    width: 1.5625em;
    height: 2px;
    background: #2E20CA;
    top: 50%;
    left: 1.5em;
    position: absolute;
    transform: translateY(-50%);
    transform-origin: center;
    transition: 0.3s linear, width 0.3s linear;
}

button a {
    font-size: 1em;
    line-height: 1em;
    padding-left: 2em;
    display: block;
    text-align: left;
    transition: all 0.3s ease-in-out;
    text-transform: uppercase;
    text-decoration: none;
    color: #2E20CA;
}

button span:nth-child(1) {
    height: 2px;
    width: 1.5625em;
    top: -2px;
    left: 0.625em;
    position: absolute;
    background-color: #FDF7FF;
    transition: width 0.5s ease-out, left 0.3s ease-out;
}

button span:nth-child(3) {
    height: 2px;
    width: 1.5625em;
    right: 1.875em;
    bottom: -2px;
    position: absolute;
    background-color: #FDF7FF;
    transition: width 0.5s ease-out, right 0.3s ease-out;
}

button span:nth-child(4) {
    height: 2px;
    width: 0.625em;
    right: 0.625em;
    bottom: -2px;
    position: absolute;
    background-color: #FDF7FF;
    transition: width 0.5s ease-out, right 0.3s ease-out;
}

button:hover {
    color: #FDF7FF;
    background: #2E20CA;
}

button:hover::before {
    width: 1em;
    background-color: #FDF7FF;
}

button:hover a {
    color: #FDF7FF;
    padding-left: 1.5em;
}
  
button:hover span:nth-child(1) {
    left: -2px;
    width: 0px;
}

button:hover span:nth-child(3),
button:hover span:nth-child(4) {
    right: 0;
    width: 0;
}

/* Homepage */
.landingpage {
    height: 100vh;
    display: flex;
    flex-direction: column;
    color: #2E20CA;
}

.landingpage header {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #FDF7FF;
    flex: 60%;
}

.landingpage > figure {
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 50%;
    margin: 0;
    padding: 0;
}

.landingpage > figure > img {
    width: 70%;
}

.landingpage header section {
    display: flex;
    flex-direction: column;
    width: 95%;
    font-weight: 100;
}

.landingpage header section > div {
    display: flex;
}

.landingpage h1 {
    font-size: 2em;
    font-weight: 100;
}

.landingpage h2 {
    font-size: 2em;
    margin-top: 0.5vh;
    font-weight: 100;
}

.landingpage p {
    font-size: 1.4em;
    margin-top: 1vh;
}

/* My work */
.workpage,
.pinnedpage {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    color: #2E20CA;
}

.workpage main {
    position: relative;
}

.workpage main > a:nth-child(1) {
    z-index: 1;
    display: flex;
    align-items: center;
    position: fixed;
    top: 1em;
    left: 1em;
    text-decoration: none;
    color: #2E20CA;
    transition: 1s;
}

.workpage main > a:nth-child(1)::before {
    content: '👈';
    margin-right: .2em;
    font-size: 2em;
    transition: .3s;
    display: flex;
    align-items: center;
    justify-content: center;
    height: inherit;
}

.workpage main > a:nth-child(1):hover::before {
    transform: translateX(-.3em);
}

.workpage div {
    display: flex;
    flex-direction: column;
    background-color: #FDF7FF;
}

.workpage div > article {
    flex: 60%;
    margin-top: 3em;
    margin-bottom: 3em;
    position: relative;
}

.workpage div article > div:first-child {
    margin: 0 auto;
    width: 90%;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.workpage div article > div:first-child .button {
    width: 60%;
}

.workpage div article > div p:before {
    content: '';
    width: 2px;
    background-color: #2E20CA;
    position: absolute;
    height: 100%;
    transform: translateX(-10px);
}

.workpage div > figure {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50vh;
    padding: 0;
    padding-top: 1em;
    padding-bottom: 1em;
    margin: 0;
    background-color: #FFF;
}

.workpage div > figure img { 
    width: 30%;
    min-width: 13em;
}

.workpage div:nth-child(even) > article {
    order: 1;
}

.workpage div:nth-child(even) > figure {
    order: 2;
}

.workpage div:nth-child(odd) > article {
    order: 1;
}

.workpage div:nth-child(odd) > figure {
    order: 2;
}


.workpage div:nth-child(3) > figure { 
    background-image: url(../assets/img/oresama/oresama_background.png);
    background-position: center;
    background-size: cover;
}

.workpage div:nth-child(5) > figure { 
    background-image: url(../assets/img/illustraties_cover.jpg);
    background-position: center;
    background-size: cover;
}

.workpage div article > div h1,
.workpage div article > div h2 {
    font-weight: 500;
    font-size: 2em;
    margin-top: 0.5em;
}

.workpage div article p {
    transform: translateX(15px);
    width: 90%;
    font-weight: 100;
    font-size: 1em;
    line-height: 1.3;
}

@media (min-width: 50em) { 

    /* Buttons */
    .landingpage header section > div {
        flex-direction: column;
    }

    section .button button {
        padding: 1em 2em;
    }

    /* Landing page */
    .landingpage {
        height: 100vh;
        flex-wrap: wrap;
        flex-direction: row;
    }

    .landingpage section {
        transform: translateX(-2em);
    }

    .landingpage header {
        flex: 50%;
    }

    .landingpage header section {
        width: 70%;
    }

    .landingpage > figure > img {
        width: 80%;
    }

    /* My work */
    .workpage,
    .pinnedpage {
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        color: #2E20CA;
    }

    .workpage main {
        position: relative;
    }

    .workpage main > a:nth-child(1) {
        z-index: 1;
        display: flex;
        align-items: center;
        position: fixed;
        top: 1em;
        left: 1em;
        text-decoration: none;
        color: #2E20CA;
        transition: 1s;
    }

    .workpage main > a:nth-child(1):hover::before {
        transform: translateX(-.3em);
    }

    .workpage div {
        display: flex;
        flex-direction: row;
        height: 100vh;
        background-color: #FDF7FF;
    }

    .workpage div > article {
        flex: 60%;
        margin: 0px;
        position: relative;
    }

    .workpage div article > div:first-child {
        width: 70%;
    }

    .workpage div article > div p:before {
        content: '';
        width: 2px;
        background-color: #2E20CA;
        position: absolute;
        height: 100%;
        transform: translateX(-10px);
    }

    .workpage div > figure {
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 0;
        margin: 0;
        flex: 40%;
        height: auto;
        background-color: #fff;
    }

    .workpage div:nth-child(even) > article {
        order: unset;
    }
    
    .workpage div:nth-child(even) > figure {
        order: unset;
    }
    
    .workpage div:nth-child(odd) > article {
        order: unset;
    }
    
    .workpage div:nth-child(odd) > figure {
        order: unset;
    }

    .workpage div > figure img { 
        width: 50%;
    }

    .workpage div article > div h1,
    .workpage div article > div h2 {
        font-weight: 500;
        font-size: 4em;
        margin-top: 0.5em;
    }

    .workpage div article p {
        transform: translateX(15px);
        font-weight: 100;
        font-size: 1.3em;
    }

}

@media (min-width: 80em) { 

    /* Buttons */
    .landingpage header section > div {
        flex-direction: row;
    }

    /* Landing page */
    .landingpage h2 {
        font-size: 3em;
    }
    
    /* My work */
    .workpage,
    .pinnedpage {
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        color: #2E20CA;
    }

    .workpage main {
        position: relative;
    }

    .workpage main > a:nth-child(1) {
        z-index: 1;
        display: flex;
        align-items: center;
        position: fixed;
        top: 1em;
        left: 1em;
        text-decoration: none;
        color: #2E20CA;
        transition: 1s;
    }

    .workpage main > a:nth-child(1):hover::before {
        transform: translateX(-.3em);
    }

    .workpage div {
        display: flex;
        height: 100vh;
        background-color: #FDF7FF;
    }

    .workpage div > article {
        flex: 60%;
        margin: 0px;
        position: relative;
    }

    .workpage div article > div:first-child {
        width: 50%;
    }

    .workpage div article > div p:before {
        content: '';
        width: 2px;
        background-color: #2E20CA;
        position: absolute;
        height: 100%;
        transform: translateX(-10px);
    }

    .workpage div > figure {
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 0;
        margin: 0;
        flex: 40%;
        background-color: #fff;
    }

    .workpage div > figure img { 
        width: 50%;
    }

    .workpage div article > div h1,
    .workpage div article > div h2 {
        font-weight: 500;
        font-size: 4em;
        margin-top: 0.5em;
    }

    .workpage div article p {
        transform: translateX(15px);
        font-weight: 100;
        font-size: 1.3em;
    }
}