<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="author" content="Bram">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>FED project</title>
    
    <link rel="stylesheet" href="../css/fonts.css">
    <link rel="stylesheet" href="../css/fed.css">
    <link rel="stylesheet" href="../css/backbutton.css">
    <link rel="icon" type="image/png" sizes="16x16" href="../assets/favicon.png">
</head>
<body class="fed-page">
<main>
    <ul class="backbutton">
        <li><a href="../views/my_work.html">Back to my work</a></li>
    </ul>
        <header>
            <section>
                <h1>FED website</h1>
                <p>A project where I chose an existing website, and had to try make a copy of it while learning more about frontend of websites.</p>
            </section>
        </header>

        <section>
            <article>
                <p>While I already knew some things about frontend because of my internship, I found this course incredibly helpful. My internship was already a couple of years ago, so there were some things that got updated without me noticing. And since I was not a pro there was a lot of room for further improvement. </p>
                <p>In this course I learned a lot of new things:</p>
                <ul>
                    <li>I learned how to animate elements with keyframes. For the animations that played when a section would come into the viewport of the user, there were short slide-out animations. I’ve never really used keyframes before so this was very interesting to experiment with.</li>
                    <li>I learned how the intersection observer works with JavaScript. This API came in handy for when a section would come into the viewport. This made it possible for keyframes to only start playing when a user would scroll to a section. Cause you wouldn’t want all the animations to play at once if the user would visit the page.</li>
                    <li>I learned how to position elements with CSS grid and flexbox. I was already a bit familiar with flexbox, but didn’t knew all the various things I could do with it. I used the lessons to refresh, and also learn a new way to position elements with CSS grid. </li>
                </ul>
            </article>
            <figure>
                <img src="../assets/img/oresama/oresama_background.png" alt="Screenshot of the frontpage" />
            </figure>
        </section>

        <section>
            <div>
                <img src="../assets/img/oresama/breakdown_dynamisch_deel1.webp" alt="breakdown sketch I made of the section animations."/>
            </div>
            <div>
                <p>When I started working on the project, I first had to get a good grip on all the animations and interactable elements in the website. To get a better grip I made an analysis in Adobe XD, where I made screenshots of the website and surrounded the elements with a square. I also added some annotations to indicate what elements something was made out of.   </p>
                <p>If you want to check out the website for yourself you can can click on the link below.</p>
                <a href="https://bram-ter.github.io/frontend-development/" target="blank">To the website</a>
            </div>
            <div>
                <img src="../assets/img/oresama/breakdown_dynamisch_deel2.webp" alt="breakdown sketch I made of the foldout menu."/>
            </div>
        </section>
</main>
</body>
</html>