<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="author" content="Bram">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Illustrations</title>
    
    <link rel="stylesheet" href="../css/fonts.css">
    <link rel="stylesheet" href="../css/illustration.css">
    <link rel="icon" type="image/png" sizes="16x16" href="../assets/favicon.png">
</head>
<body class="illustrationpage">
    <main>
        <a href="../views/my_work.html">Back to my work</a>
        <header>
            <section>
                <h1>Illustrations</h1>
                <p>Here I will showcase a bunch of illustrations I made over the past couple of years. These are all made with Adobe Illustrator.</p>
            </section>
        </header>

        <section>
            <div class="wrapper">
                <figure id="btn1"><img src="../assets/img/illustraties/animallogo.jpg" alt="Logo made of a french bulldog."/></figure>
                <figure id="btn2"><img src="../assets/img/illustraties/bandposter1.jpg" alt="Poster made of my favorite japanese band Sakanaction."/></figure>
                <figure id="btn3"><img src="../assets/img/illustraties/lightningbugs_logo_zwart.jpg" alt="Logo I made for a school group project."/></figure>
            </div>
            <div class="wrapper">
                <figure id="btn4"><img src="../assets/img/illustraties/movieposter.jpg" alt="This is a movieposter I had to make for a school project, I made it about a games series called Fire Emblem."/></figure>
                <figure id="btn5"><img src="../assets/img/illustraties/potty.jpg" alt="A character I made for a school project. His name is Potty, and he is a teapot"/></figure>
                <figure id="btn6"><img src="../assets/img/illustraties/context_map1.jpg" alt="This is a context map I illustrated to help my project group explain the problem better to our client."/></figure>
            </div>
        </section>

        <div class="modal" id="modal1">
            <h2>Animallogo</h2>
            <img src="../assets/img/illustraties/animallogo.jpg" alt="Logo made of a french bulldog."/>
            <p>This illustration was the first Illustration I ever made in Illustrator. I made this logo while following an introduction course to Illustrator on my previous eduction (Grafisch Lyceum Utrecht). The exercise was to make a logo for an animal of my choice. And since I really liked French Bulldogs, I decided to make an illustration of one.</p>
            <div class="cross">
                <span></span>
                <span></span>
            </div>
        </div>
        <div class="modal" id="modal2">
            <h2>Bandposter</h2>
            <img src="../assets/img/illustraties/bandposter1.jpg" alt="Poster made of my favorite japanese band Sakanaction."/>
            <img src="../assets/img/illustraties/bandposter2.jpg" alt="Poster made of my favorite japanese band Sakanaction with all the members."/>
            <p>This illustration was made while I was following an Illustrator course last year. The idea of the exercise was to make a poster with the things we learned in that course. And so I tried out gradients to simulate a shadow effect. I first made the poster on the left and later illustrated the whole band because I didn’t have enough time left before the deadline.  </p>
            <div class="cross">
                <span></span>
                <span></span>
            </div>
        </div>
        <div class="modal" id="modal3">
            <h2>Projectgroup logo</h2>
            <img src="../assets/img/illustraties/lightningbugs_logo_zwart.jpg" alt="Logo I made for a school group project. This version is made for a black background"/>
            <img src="../assets/img/illustraties/lightningbugs_logo_wit.jpg" alt="Logo I made for a school group project. This version is made for a white background"/>
            <p>While I was studying at the Grafisch Lyceum Utrecht I made this logo for my project group called “Lightningbugs”. I made a logo for dark backgrounds, and light backgrounds as I thought that would come in handy later which it did. </p>
            <div class="cross">
                <span></span>
                <span></span>
            </div>
        </div>
        <div class="modal" id="modal4">
            <h2>Fire Emblem filmposter</h2>
            <img src="../assets/img/illustraties/movieposter.jpg" alt="This is a movieposter I had to make for a school project, I made it about a games series called Fire Emblem."/>
            <p>This illustration was made in the same course as the bandposter I made. For this exercise we needed to make a movie poster about something we liked. And so I made a poster about one of my favorite video game series Fire Emblem. I looked at some art of the original game and tried to combine the characters together into a poster esque frame. Then I tried to copy the most important colors and shadows in a sort of simplistic style for each character, and I think it came out nicely.</p>
            <div class="cross">
                <span></span>
                <span></span>
            </div>
        </div>
        <div class="modal" id="modal5">
            <h2>"Potty" made with JavaScript</h2>
            <img src="../assets/img/illustraties/potty1.jpg" alt="First version of Potty."/>
            <img src="../assets/img/illustraties/potty2.jpg" alt="Second version of Potty I didnt end up using for the project."/>
            <div>
                <p>Potty is a project I made last year in a course that introduced my class and me to JavaScript. The idea of this course was to make a tamagotchi like thing you could interact with, made with JavaScript. It could be anything, and I wanted to make a monsterlike teapot character from a game I played a while ago called Ni No Kuni. I first searched up a picture of the teapot and then tried to illustrate him from the front. Below you can click a link to the page where I talk more about the project itself.</p>
                <a href="../views/potty.html">Go to project page</a>
            </div>
            <div class="cross">
                <span></span>
                <span></span>
            </div>
        </div>
        <div class="modal" id="modal6">
            <h2>Contextmap Zeeburgereiland</h2>
            <img src="../assets/img/illustraties/context_map1.jpg" alt="This is a context map I illustrated to help my project group explain the problem better to our client."/>
            <img src="../assets/img/illustraties/context_map2.jpg" alt="This is a context map I illustrated to help my project group explain the problem better to our client. This includes more details like where the skaters are skating and where the local residents are moving."/>
            <p>These illustrations were made for a project called “Beyond”, that stands for beyond the web. It was a project where we had to create a solution that was not a digital product, to solve a problem on the skatepark in Amsterdam Zeeburgereiland. To help illustrate our solution, I made these contextmaps to help illustrate problems local residents had with and around the skatepark.</p>
            <div class="cross">
                <span></span>
                <span></span>
            </div>
        </div>

    </main>

    <script src="../js/script.js"></script>
</body>
</html>