<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="author" content="Bram">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>My projects</title>

    <link rel="stylesheet" href="../css/fonts.css">
    <link rel="stylesheet" href="../css/style.css">
    <link rel="icon" type="image/png" sizes="16x16" href="../assets/favicon.png">
</head>
<body class="workpage">
<main>
    <a href="../index.html">Back to homepage</a>
    <div class="pinned">
        <article>
            <div>
            <h1>Pinned.</h1>
            <p>I have a friend that always wanted to go to Spain. In 2020 he had to cancel his trip because of the corona situation. So two of my friends and I decided to design an app for him to maximize his enjoyment for when he would eventually go on his trip.</p>
                <div class="button">
                    <button>
                    <span></span>
                    <a href="../views/pinned.html">Check out project</a>
                    <span></span>
                    <span></span>
                    </button>
                </div>
            </div>  
        </article>
        <figure>
            <img src="../assets/img/pinned/iphones/map_iphone.png" alt="Iphone mockup with an image of the pinned map" />
        </figure>
    </div>

    <div class="fedwebsite">
        <figure></figure>
        <article>
            <div>
            <h2>FED website</h2>
            <p>For a course called frontend development we had to try and make a copy of an existing website. I remembered seeing a cool website of a band called Oresama. This website had a lot of cool animations and so I tried to remake them.</p>
            <div class="button">
                <button>
                <span></span>
                <a href="../views/fed.html">Check out website</a>
                <span></span>
                <span></span>
                </button>
            </div>
            </div>    
        </article>
    </div> 

    <div class="potty">
        <article>
            <div>
            <h2>Potty made with JavaScript</h2>
            <p>With JavaScript I made an interactive tamagotchi. It was a fun project where I for the first time had to write JavaScript myself.</p>
            <div class="button">
                <button>
                <span></span>
                <a href="../views/potty.html">Check out project</a>
                <span></span>
                <span></span>
                </button>
            </div>
            </div>    
        </article>
        <figure>
            <img src="../assets/img/potty/potty.svg" alt="Image of Potty made with JavaScript" />
        </figure>
    </div> 

    <div class="illustrations">
        <figure></figure>
        <article>
            <div>
                <h2>Illustrations</h2>
                <p>Here I will showcase a bunch of illustrations I made over the past couple of years. These are all made with Adobe Illustrator.</p>
                <div class="button">
                    <button>
                    <span></span>
                    <a href="../views/illustrations.html">Check out project</a>
                    <span></span>
                    <span></span>
                    </button>
                </div>
            </div>
        </article>
    </div>

    <div class="rmdd">
        <article>
            <div>
            <h2>RMDD flow</h2>
            <p>For RMDD (Responsive Multi Device Design) I had to design an interface focusing on making it accesible on different devices. I made a design for an app that would measure the humidity of your plants, and tell you when they needed water.</p>
            <div class="button">
                <button>
                <span></span>
                <a href="../views/rmdd.html">Check out project</a>
                <span></span>
                <span></span>
                </button>
            </div>
            </div>    
        </article>
        <figure>
            <img src="../assets/img/RMMD/rmmd-iphone.png" alt="Iphone mockup with the highfi design of the identicate screen" />
        </figure>
    </div> 
</main>
</body>
</html>