<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="author" content="Bram">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Pinned project</title>

    <link rel="stylesheet" href="../css/fonts.css">
    <link rel="stylesheet" href="../css/pinned.css">
    <link rel="stylesheet" href="../css/animations.css">
    <link rel="icon" type="image/png" sizes="16x16" href="../assets/favicon.png">
</head>
<body class="pinnedpage">
<main>
    <a href="../views/my_work.html">Back to my work</a>
    <div>
        <header>
            <div>
                <h1>Pinned.</h1>
                <p>Pinned is a project I made together with 2 other students that followed the same preliminary education as me. We all decided to make an app for a good friend of us (who also followed the same preliminary education but became an entrepreneur). He always wanted to go on a road trip through Europe, where Spain was his favorite country. He couldn’t do his road trip because of Covid-19, and that’s why we decided to design an app that would eventually help him get through Spain on a fun and clear way.</p>
            </div>
            <img src="../assets/img/pinned/iphones/iphones2x.png" alt="3 Iphones with the most important screens of the introduction, detailpage and pinned map.">
        </header>
        <a href="#demo">Skip to demo
        <span href="#demo"></span>
        </a>
    </div>

    <div>
        <article>
            <h2>Narrowing down our chosen concept</h2>
            <p>Below you can see the first flow of our app. This was the flow for the app as an all in one road trip to Europe, we later decided to narrow our concept down to only Spain because it would get to complicated and to much work for the assignment given to us by our school.</p>
            <img src="../assets/img/pinned/flowchart_veel_te_uitgebreid.jpg" alt="flowchart veel te uitgebreid"/>
        </article>
        <article>
            <img src="../assets/img/pinned/flowchart_spanje.jpg" alt="flowchart van app over spanje"/>
            <p>This flow is what we eventually came up with, and what would be our final flow for the app.</p>
        </article>
    </div>

    <div>
        <article>
            <h2>Determining the main categories for the app</h2>
            <div>
                <figure>
                    <img src="../assets/img/pinned/icons/home_icon.svg" alt="home icon"/>
                    <h3>Homepage</h3>
                    <p>A homepage that would lead to all other categories in the app, and most importantly would be clear to use.</p>
                </figure>
                <figure>
                    <img src="../assets/img/pinned/icons/booking_icon.svg" alt="booking icon"/>
                    <h3>Booking page</h3>
                    <p>A booking page where all available hotels and restaurants would be listed.</p>
                </figure>
                <figure>
                    <img src="../assets/img/pinned/icons/map_icon.svg" alt="map icon"/>
                    <h3>Pinned map</h3>
                    <p>The pinned map, with all your saved up hotels, restaurants, beaches etc.</p>
                </figure>

                <figure>
                    <img src="../assets/img/pinned/icons/search_icon.svg" alt="search icon"/>
                    <h3>Search page</h3>
                    <p>A search page with helpful elements to improve search quality.</p>
                </figure>
                <figure>
                    <img src="../assets/img/pinned/icons/profile_icon.svg" alt="profile icon"/>
                    <h3>Profile page</h3>
                    <p>A profile where you can easily see your earned buildings and see where you’ve been.</p>
                </figure>
                <figure>
                    <img src="../assets/img/pinned/icons/mouse_icon.svg" alt="cursor icon"/>
                    <h3>Detail page</h3>
                    <p>Detail pages that are clear and easily accessible.</p>
                </figure>

                <figure>
                    <img src="../assets/img/pinned/icons/like_icon.svg" alt="like icon"/>
                    <h3>Preferance page</h3>
                    <p>A preference page at the beginning of the app, to make your use personalized.</p>
                </figure>
            </div>
        </article>
    </div>

    <div>
        <article>
            <h2>Moodboard and first lo-fi screens</h2>
            <p>After coming up with what would be the main categories for the app, we made a mood-board together to determine a certain style for the app.</p>
            <p>We wanted to go for a modern style, with happy and colorful looking illustrations for our map.</p>
            <p>We also did some first sketches of some screens that would be in the app. Because these were first sketches, we decided to use this as a way to also brainstorm our ideas and show it to each other to determine what we would use in the app.</p>
        </article>
        <article>
            <img src="../assets/img/pinned/moodboard.jpg" alt="moodboard met inspiratie"/>
        </article>
        <article>
            <figure>
                <img src="../assets/img/pinned/lofi_schets_1.jpg" alt="lofi_schets_1"/>
                <figcaption>This was the first screen of our homepage. Because it was a first screen we left some elements out of the final design. For example, because we made the app primarily for Spain, we had to take out the location shown at the beginning because the user would always be in Spain.</figcaption>
            </figure>
            <figure>
                <img src="../assets/img/pinned/lofi_schets_2.jpg" alt="lofi_schets_1"/>
                <figcaption>These were some first screens for the hotel section of the app. In the first screen you can see a landing section with details where you for example can see the location, star rating and photos other users have made. On the second screen there is a section where you can see faculties and a google maps location. And lastly the third screen is another iteration of the hotel screen.</figcaption>
            </figure>
            <figure>
                <img src="../assets/img/pinned/lofi_schets_3.jpg" alt="lofi_schets_1"/>
                <figcaption>In this screen you can see the first design of the search page. We decided to not only let people search on this page, but have them search in categories and recommend them places other people really liked, as you can see below.</figcaption>
            </figure>
        </article>
    </div>

    <div>
        <article>
            <img src="../assets/img/pinned/pinned_logo_final.svg" alt="pinned_logo"/>
        </article>
        <article>
            <h2>Making of the logo and style</h2>
            <p>Because we were making a travel app, we wanted the style to be modern and playful looking. This style would also fit our type of illustrations and logo the most. </p>
        </article>
        <article>
            <p>We have also made a design system. We did this to be able to see everything we came up with for the style in 1 clear document.</p>
            <p>As you can see in the design system. We put in the logo, and all primary and secondary colors we associated with the app. We also put in all the possible button styles (width, height, color) and buttons states. For example, a button being hovered or a button being clicked. And lastly the font, and where and when we would use a certain size of it. </p>
        </article>
        <article>
            <img src="../assets/img/pinned/stijlkaart_pinned.jpg" alt="stijlkaar"/>
        </article>
        
    </div>

    <div>
        <article>
            <h2>Mi-fi and Hi-fi </h2>
            <p>Eventually we worked out our first Mi-fi screens. Below you can see a couple of the Map screen (Left), the stats screen of the map (Middle) and the shop screen (Right).</p>
        </article>
        <article>
            <figure>
                <img src="../assets/img/pinned/iphones/mifi1.png" alt="eerste mifi ontwerp"/>
            </figure>
            <figure>
                <img src="../assets/img/pinned/iphones/mifi2.png" alt="tweede mifi ontwerp"/>
            </figure>
            <figure>
                <img src="../assets/img/pinned/iphones/mifi3.png" alt="derde mifi ontwerp"/>
            </figure>
        </article>
    </div>

    <div id="demo">
        <article>
            <h2>Hi-fi prototype </h2>
            <p>After a couple of weeks we made our high fidelity prototype. With making the hi-fi prototype we finally could really see some colors in our design. That’s why this was a great moment to see if all the colors would line up together. And see which color was used correctly or if a color was used too frequently.</p>
            <p>After showing the prototype with Simon he was really happy. He found the app to be really clear and helpful. He could really see him using it when he would eventually go on his trip to Spain. The only thing he noted was that he was missing something about the nightlife, cause that was something he was still really interested in.</p>
            <p>To the right you can see a link to our clickable demo, made with protopie. This was also the prototype we tested with Simon.</p>
        </article>
        <figure>
            <h3>Protopie demo</h3>
            <a href="https://cloud.protopie.io/p/803e304b68/17?ui=false&mockup=true&touchHint=false&scaleToFit=true&cursorType=touch" target="_blank">
                <img src="../assets/img/pinned/hifi_overview.jpg" alt="uiteindelijk ontwerp"/>
            </a>
        </figure>
    </div>

    <div>
        <article>
            <img src="../assets/img/pinned/iphones/map_start_iphone.png" alt="map scherm 1"/>
            <article>
                <h2>Map section of the app</h2>
                <p>I was in charge of the map section of the app. I wanted to make the illustrations because I wanted to get better at making 3D illustrations. So this was a nice chance to try practice. </p>
            </article>
            <img src="../assets/img/pinned/iphones/map_iphone.png" alt="map scherm 2"/>
        </article>
        <article>
            <img src="../assets/img/pinned/huisjes/restaurant.svg" alt="Illustratie van een restaurant op de map"/>
            <img src="../assets/img/pinned/huisjes/strand.svg" alt="Illustratie van een strand op de map"/>
            <img src="../assets/img/pinned/huisjes/park.svg" alt="Illustratie van een park op de map"/>
            <img src="../assets/img/pinned/huisjes/hotel.svg" alt="Illustratie van een hotel op de map"/>
            <img src="../assets/img/pinned/huisjes/hotel_groot.svg" alt="Illustratie van een groot hotel op de map"/>
        </article>
    </div>

</main>

</body>
</html>