<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="author" content="Bram">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Potty project</title>
    
    <link rel="stylesheet" href="../css/fonts.css">
    <link rel="stylesheet" href="../css/potty.css">
    <link rel="stylesheet" href="../css/backbutton.css">
    <link rel="icon" type="image/png" sizes="16x16" href="../assets/favicon.png">
</head>
<body class="pottypage">
<main>
    <ul class="backbutton">
        <li><a href="../views/my_work.html">Back to my work</a></li>
    </ul>
        <header>
            <section>
                <h1>Potty made with JavaScript</h1>
                <p>An interactive tamagotchi made with HTML, CSS and JavaScript. While focusing primarily on the JavaScript bit.</p>
            </section>
        </header>

        <section>
            <article>
                <p>When I started working on this project I had little to no experience with JavaScript. On my previous education (Grafisch Lyceum Utrecht) I learned how to make basic if and else statements, and that was it. So I expected it to be a big challenge making an interactive tamagotchi. </p>
                <p>Lucky for me, my teacher had a lot of examples I could refresh and learn from. The great thing about these examples were that they were really basic, to the point you could add code to them yourself really easily and make it your own. </p>
                <p>For example, take the image of the code. The default code shown here was for a slider. After a lot of time tinkering, I made it so that you could “evolve” the teapot in different elements. If you would hover a certain stone over the teapot, JavaScript would check which value the stone had, and then it would change the body to that element by making the value of the body the same as that stone you just hovered with. </p>
                <p>If you’re curious about the project you can click on the button below to find it on the test environment of the HVA called “oege”.</p>
                <a href="https://oege.ie.hva.nl/~tersteb2/potty/">To the project</a>
            </article>
            <figure>
                <img src="../assets/img/potty/javascript_code.webp" alt="Screenshot of the JavaScript code I made."/>
            </figure>
        </section>

        <section>
            <div>
                <img src="../assets/img/potty/potty_background.jpg" alt="image of the teapot in the factory where you can interact with him."/>
                <p>This is the first version of potty. In this version I added a conveyor belt that I wanted to move. I later decided to move it out of the screen a little, because I didn’t really know how to make it move with a css keyframe. </p>
            </div>
            <div>
                <img src="../assets/img/potty/workflow.webp" alt="image of my workflow when creating the art for potty."/>
                <p>This is a screenshot of my workflow in Illustrator while making the illustration of Potty. I tried to think out step-by-step what interactions I wanted to make, and then put them in a flow.</p>
            </div>
        </section>
</main>
</body>
</html>