<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="author" content="Bram">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>RMDD project</title>
    
    <link rel="stylesheet" href="../css/fonts.css">
    <link rel="stylesheet" href="../css/rmdd.css">
    <link rel="icon" type="image/png" sizes="16x16" href="../assets/favicon.png">
</head>
<body class="rmddpage">
<main>
    <a href="../views/my_work.html">Back to my work</a>
        <header>
            <div>
                <h1>RMDD Project</h1>
                <p>I made a concept for an app that would measure the humidity of your plants, and tell you when they needed water. This while keeping in mind how it would look on various devices.</p>
            </div>
            <img src="../assets/img/RMMD/rmmd-iphone.png" alt="Image the identification screen in the app"/>
        </header>

        <section>
            <article>
                <p>I started the project thinking about what I wanted to make a multidevice design of. Because my dad has a lot of plants at home I decided to make a concept which would help him take care of his various plants, while also being easy to use and a fun experience.</p>
                <p>With my concept thought out I decided to write a user scenario:</p>
                <blockquote>
                    Eric is an owner of plants. Because Eric has many different plants, he still forgets which plant he has, and has not watered. That is why he wants to be able to see somewhere whether they have enough water and/or whether the air is moist enough. Eric wants to be able to keep an eye on the plants at home, but this also applies to when Eric is away. When Eric is away, he also wants to be able to see how his plants are doing in a small overview. If he's just at home, he doesn't mind how and even likes to see it in a visual representation.
                </blockquote>
                <p>So, after having written down the user scenario I decided to translate this user scenario into job stories so that I knew what the main points of the app were gonna be.</p>
                <p>The version of the job stories in the image is the final version I made just before completion. My original version had just 3 job stories, I decided to add an extra one later. </p>
            </article>
            <figure>
                <img src="../assets/img/RMMD/job-stories.jpg" alt="Various job-stories I made on basis of my user scenario" />
            </figure>
        </section>

        <section>
            <figure>
                <img src="../assets/img/RMMD/requirements.jpg" alt="Requirements I for what would be in my app" />
            </figure>
            <article>
                <p>After having doing research on what sort of app I wanted to make, I decided to make requirements for each route in my app.</p>
                <p>The requirements are as follows:</p>
                <ul>
                    <li>Being able to (clearly) see which plants need water. </li>
                    <li>Being able to add plants, possibly together in a group.</li>
                    <li>The user must have a good overview of all plants and their status, on both mobile and desktop.</li>
                    <li>Being able to Identify what kind of plant something is with a photo.</li>
                    <li>Check with your phone which place is suitable for putting down a plant (lux value)</li>
                </ul>
                <p>At the end I decided to put an optional “nice to have” for if I had spare time.</p>
                <ul>
                    <li>Being able to see/measure the humidity of the air and the plants</li>
                </ul>
            </article>
        </section>

        <section>
            <div>
                <img src="../assets/img/RMMD/lowfi-flow.jpg" alt="Image with my first version of the wireflow" />
                <p>This is the first version of the lofi screenflow. In this screenflow I worked out my first ideas for what I wanted the flow to be like. The idea was to make a homescreen where you could navigate from to anywhere in the app. From the homescreen you could go to various categories, the lightmeter, overview of you plants and the identification functionality. And lastly, on the right I made a lofi version of how a notification would look like.</p>
            </div>
        </section>

        <section>
            <article>
                <p>After making my first lofi version of the screens. I used a method called D.E.T.A.I.L.S to generate more potential ideas for my app. On the image you can see blue and grey items. The blue items are existing features I already came up with while making the lofi screens. And the grey items are new or updated features I came up with while making the D.E.T.A.I.L.S image. </p>
            </article>
            <figure>
                <img src="../assets/img/RMMD/details.jpg" alt="Details, a method I used to generate more ideas for my app" />
            </figure>
        </section>

        <section>
            <div>
                <img src="../assets/img/RMMD/highfi-flow.jpg" alt="Image with my final version of the wireflow" />
                <p>This is the final version of the highfi flow. Aside form adding colors and images, I tweaked some minor stuff for clarity. For example, I combined and added some steps so that it would be more clear for the user to see what steps he/she had to go through. I also added some states to the flow so that the person viewing the flow could see how a result or loading screen would look like.</p>
            </div>
        </section>

        <section>
            <figure>
                <img src="../assets/img/RMMD/derde-lowfi-schets.jpg" alt="Image with my first version of the wireflow" />
                <p>While making the hifi and lofi flows I also made these versions of the overview page for desktop. The idea of the project was to add multiple devices to your concept, so I wanted to also make a version for desktop because it utilises a bigger screen compared to mobile. That’s how I came up with the idea to make a more visually oriented version for desktop that sort of looks like a game. The idea behind these desktop screens was to make the user able to customize their own room while putting plants in them.</p>
            </figure>
            <figure>
                <img src="../assets/img/RMMD/highfi-desktop.jpg" alt="Image with my first version of the wireflow" />
            </figure>
        </section>
</main>
</body>
</html>